body {
    font-family: Microsoft YaHei, Interstate, Arial, sans-serif;

}
body, h1, h2, h3, h4, h5, p, ul, li, dl, dt {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, strong, sub, sup, em {
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
}
ul, li, dl, dt {
	list-style: none;
}

img{
    width: 100%;
    margin: 0;
}

/*.wrap{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}*/
.container {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-size: .3rem;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    /*background: #eee;*/
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    /*background: url("../images/maleDog_bg.jpg") no-repeat;*/
    /*background: url("../images/bg_01_02.jpg") no-repeat;*/
    /*background-size: cover;*/
    /*padding-bottom: 10%;*/
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 15px;
    /*background: #fff;*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

 section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
     color: #fff;
    /*background: url("../images/maleDog_bg.jpg") no-repeat center center;*/
    /*background-size: 100% 100%;*/
    /*background-size: cover;*/
}
 .dog_head{
     width: 34%;
     position: absolute;
     left: 33%;
     top: 5%;
 }
 .male_theatre{
     width: 88%;
     position: absolute;
     top: 13%;
     left: 6%;
 }

 .answer_1{
     background: url("../images/bg_01_02.jpg") no-repeat;
     background-size: 100% auto;
     background-size: cover;
 }
.answer_2{
    background: url("../images/bg_02_02.jpg") no-repeat;
    background-size: 100% auto;
    /*background-size: cover;*/
}
.answer_3{
    background: url("../images/popup_bg_33_02.jpg") no-repeat;
    background-size: 100% auto;
    /*background-size: cover;*/
}
.answer_4{
    background: url("../images/bg_04_02.jpg") no-repeat;
    background-size: 100% auto;
    /*background-size: cover;*/
}
.answer_5{
    background: url("../images/bg_05_02.jpg") no-repeat;
    background-size: 100% auto;
    /*background-size: cover;*/
}
 .title{
    margin-top: 65%;
    margin-bottom: 10%;
    text-align: center;
    padding: 0 9%;
     color: #f2d176;
     position: relative;
}
 .title-first{
     padding: 0;
 }
ontainer section p{
    margin: 2% 0 4% 0;
}
.little_pic{
   width: 80%;
    margin: 0 auto;
    margin-top:3%;
}
 .item{
     position: relative;
     margin: 4% 4% 4% 8%;
}
 .question_four{
     padding-left: 38%;
 }
 .question_five{
     padding-left: 17%;
 }

.checkBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*!*opacity: 0*!;*/
}
input[type='radio']{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance:none;
    -ms-progress-appearance: none;
    outline: none;
    border: none;
    opacity: 0;
}
/*input[type='radio']:checked + label {*/
/*    background: none;*/
/*}*/
.checkBox:checked::after{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance:none;
    background-color: red;
    -ms-progress-appearance: none;
    outline: none;
    border: none;
}

 section:last-child:after {
	display: none;
}
.stepChange{
    width: 80%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /*transform: scale(0.9);*/
}


.stepChange a{
    color: #e0e0e0;
    text-decoration: none;
    font-size: 0.15rem;
    background: #e0e0e0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 0 0 var(--lineW);
    --lineW: .6rem;
    --lineOut: .21rem;
    transition: all .3s;
    flex-shrink: 0;
}
.stepChange a.active{
    background: #014784;
    font-size: 0.15rem;
    /* color: #ffffff;*/
    /* font-size: 0.29rem; */
    /* margin: 0 0 0 calc(var(--lineW) - var(--lineOut));*/
}
.stepChange a:before{
    content: "";
    width: var(--lineW);
    height: 1px;
    background: #e0e0e0;
    display: block;
    flex-shrink: 0;
    position: absolute;
    left: calc(-1 * var(--lineW));
    transition: all .3s;
}
.stepChange a.active:before{
    background: #014784;
    /*width: calc(var(--lineW) - var(--lineOut));*/
    /*left: calc(-1 * (var(--lineW) - var(--lineOut)));*/
}
.stepChange a:first-child.active{
    margin: 0;
}
.stepChange a:first-child:before{
    display: none;
}

 section:after{
    animation: arrow 0.6s infinite alternate ease-out;
    content: "";
    display: none;
    background-image: url("../images/arrow.png");
    width: 75px;
    height: 62px;
    position: absolute;
    bottom: calc(62px + 14vh);
    left: calc(50% - 75px / 2);
}
html.iphone  section:after{
    bottom: calc(62px + 14vh);
}
/*关键帧*/
@keyframes arrow {
    to{
        transform: translateX(-1vh);
    }
}
 section .footer{
     animation: arrow 0.6s infinite alternate ease-out;
     color: black;
     text-align: center;
     position: absolute;
     bottom: 5%;
     background: url("../images/button_bg.png") no-repeat center center;
     background-size: 100% 100%;
     width: 36%;
     left: 35%;
     padding: 2% 0;
}


.button {
    width: 26%;
    margin: 0 auto;
    color: #ffffff;
    padding: 4%;
    background: #000;
    border-radius: 10px;
    text-align: center;
    margin-top: 14%;
    background: url("../images/comehere .png") no-repeat center center;
    background-size: 100% 100%;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    display: none;
    background: url("../images/pop-back.jpg") no-repeat center center;
    background-size: 100% 100%;
}

.popupContent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    max-width: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding-bottom: 1.5rem;
    /*border: solid 2px #bfa253;*/
    background-size: auto;
    border-radius: 10px;
    /*background: #fff;*/
    overflow: auto;
    color: #f2d176;
    background: url('https://histo-education.oss-cn-beijing.aliyuncs.com/test/popup_bg_03.jpg') no-repeat center center;
    background-size: 100% 100%;
    /*font-size: 1.7rem;*/
    /*line-height: 2.5rem;*/
}

.strong-word {
    font-size: 17px;
    font-weight: 700;
}

.strong-word-title {
    font-size: 22px;
    font-weight: 700;
}
.success-pop-one{
    margin-top:75%;
    font-size: 15px;
    text-align: center;
}
.success-pop-two{
    font-size: 15px;
    text-align: center;
    margin: 10% 0;
}
.success-pop-three{
    font-size: 10px;
    text-align: center;
}
.success-pop-four{
    margin-top: 2%;
    font-size: 10px;
    text-align: center;
}
.clickBuy{
    color: black;
    text-align: center;
    background: url(../images/button_bg.png) no-repeat center center;
    background-size: 100% 100%;
    width: 45%;
    padding: 2% 0;
    margin: 0 auto;
    margin-top: 20%;
}
.close-button{
    position: absolute;
    top: 2%;
    right: 3%;
    width: 8%;
}

.shine{
    display: flex;
    margin-top: -7%;
}
.shine2{
    margin-top: -18%;
}
.shining-one-1{
    width: 74%;
    animation: breath 1s  infinite alternate ease-out;
}
.shining-two-1{
    width: 20%;
    animation: breath 1s .5s infinite alternate ease-out;
}
.title h3{
    line-height: 2rem;
}
.shining-one-2{
    width: 57%;
    position: absolute;
    left: 5%;
    top: 32%;
}
.shining-two-2{
    width: 24%;
    position: absolute;
    left: 18%;
    bottom: -4%;
}
.shining{
    position: relative;
}
.shining-three{
    width: 57%;
    position: absolute;
    left: 10%;
    top: 60%;
}
.shining-four{
    width: 27%;
    position: absolute;
    left: 35%;
    bottom: -21%;
}
.shining-five{
    width: 50%;
    position: absolute;
    left: 24%;
    top: 60%;
}
.shining-six{
    width: 27%;
    position: absolute;
    left: 44%;
    bottom: -21%;
}

@keyframes breath {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}
@media screen and (max-width: 320px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
    .swiper-slide {
        font-size: 12px;
    }
    /*.title{
        font-size: 18px;
        margin-top: 78%;
        margin-bottom: 10%;
        text-align: center;
        padding: 0 9%;
        color: #f2d176;
    }*/
    .strong-word{
        font-size: 15px;
        font-weight: 700;
    }
}
